.finishedGameCard{
    display: flex;
    flex-direction: column;

    width: 100%;

    background-color: #132236;
    border-radius: 8px;
    overflow: hidden;
    padding: 8px 16px;
}

.finishedGameCardContent{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.finishedGameCardTeamColumn{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2px;
}

.finishedGameCardTeam{
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.finishedGameCardTeam:last-child{
    justify-content: flex-end;
}

.finishedGameCardFlag{
    width: 24px;
    height: 24px;
    object-fit: cover;
}


.finishedGameCardName{
    font-family: 'Barlow Condensed', Arial;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: hsla(210, 20%, 80%);

}

.finishedGameCardAbbreviation{
    font-family: 'Inter', Arial;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: hsla(211, 27%, 30%)
}

.finishedGameCardCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    min-width: 120px;
}

.finishedGameCardScore {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #8BA3BC;
}

.finishedGameCardScoreDiv{
    display: flex;
    align-items: center;
    gap: 2px;

}

.finishedGameCardGoals{
    font-size: 20px;
    font-weight: 700;

    color: #A8B4C7;
}

.finishedGameCardSeparator{
    font-size: 20px;
    font-weight: 700;

    color: #A8B4C7;
}

.finishedGameCardStatus{
    font-size: 14px;

    color: #73819A;
}

.finishedGameCardFooter{
    display: flex;
    justify-content: center;
}