NODE_ENV=development
PORT = 3000
HOST = "0.0.0.0"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=projetocopinha
POSTGRES_PORT=5432

DATABASE_URL="postgresql://USER:PASSWORD@localhost:PORT/DB?schema=public"