NODE_ENV=development
PORT = 3000
HOST = "0.0.0.0"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=projetocopinha
POSTGRES_PORT=5432

DATABASE_URL = "DATABASE_URL="postgresql://postgres:suasenha@localhost:5432/projetos?schema=public""

#JWT Variable
JWT_SECRET='suasenhasupersecreta'