.group-classification-header {
    width: 100%;
    background: #0D1B2A;
}

.group-classification-header-container {
    margin: 0 auto;
    padding: 41px 80px;

    display: flex;
    align-items: center;
    gap: 18px;
}

.group-classification-header-title {
    color: #F0F4F8;
    font-family: 'Barlow Condensed', monospace;
    font-weight: 900;
    font-style: Black;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.6px;
}

.group-classification-header-line {
    flex: 1;
    height: 1px;
    background: #FFFFFF7A;

}

.group-classification-header-icon {
    width: 17px;
    height: 32px;
    object-fit: contain;
    cursor: pointer;
}