
.header{
    width: 100%;
    background-color: var(--corPrimaria);
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0.1rem 5rem;
}

.logo img{
    height: 72px;
    width: 169px;

}

.menu{
    display: flex;
    align-items: center;
    gap: 16px;
    padding-top: 28px;
    padding-bottom: 28px;
}

.menu-item{
    display: flex;
    align-items: center;
    gap: 8px;

    height: 40px;
    padding: 0 16px;

    border-radius: 6px;

    font-family: 'Barlow', Helvetica;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #8BA3BC;
    text-decoration: none;
    transition: .2s;
}

.menu-item:hover{
    color: white;
}

.menu-item-ativo{
    background: #009C3B;
    color: #FFFFFF;

}

.noticias-icone,
.grupos-icone,
.jogos-icone,
.simulador-icone{
    width: 16px;
    height: 16px;
    object-fit: contain;
}